@import "fontface";

$font-serif: 'Cormorant Garamond', serif;
$font-sansSerif: 'Open Sans Condensed', sans-serif;
$font-cursive: 'Forum', cursive;

$backgroundColor: #f8fcf8; //#f5f5f5;
$textColor: #68875f; //#666;
$titleColor: #3d5337; //#333;
$highlightColor: #89bf8f; //#62a35d #57955b;
$darkColor: #001a00;
$lightColor: white;

$small-breakpoint: 600px;