@import "frontend-variables";

@import "modules/box";
@import "modules/header";
@import "modules/blogLayout";



.palette-container {
    display: flex;
}
.palette {
    width: 50px;
    height: 50px;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;    
}

body {
    font-size: 1.6rem;
}

html, body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;		
    font-family: $font-serif;
    color: $textColor;
}

h1 {
    font-size: 2.5rem;
    font-variant: small-caps;
    color: $titleColor;
    font-family: $font-sansSerif;
    margin: 2rem auto;
}

a {
   color: $titleColor; 
   text-decoration: none;
   &:hover {
       color: $highlightColor;
   }
}

ul {
    padding: 0;
}

.SiteHeader {
    position: relative;
    
    h1 {
        width: 100%;
        text-align: center;
        top: 40%;
        position: absolute;
        z-index: 15;
        font-family: $font-cursive;
        font-size: 6rem;
        color: $lightColor; 
    }
}

.SidebarModule .thumbnail {

    height: 150px;
    
    img {
        shape-outside: circle();
        float: left;
        border-radius: 50%;
        height: 150px;

        margin-right: 2rem;
    }
}


.HorizontaleMenu, .HorizontaleMenu-Background {
    width: 100%;
    position: fixed;	
    height: 50px
}



.HorizontaleMenu {
    z-index: 100;	
    border-bottom: 1px solid transparentize($lightColor, .75);
    
    .HorizontaleMenu-ResponsiveIcon {
        
        display: none;
        
        position: relative;

        float: left;
        height: 32px;
        width: 32px;
        left: 4px;
        top: 9px;

        border-radius: 2px;
        border: 1px solid transparentize($lightColor, .75);       

        cursor: pointer;

        &:after {
            left: 5px;
            content: '';
            position: absolute;
            display: block;
            width: 2rem;
            height: 0;
            box-shadow: 0 8px 0 1px $lightColor, 0 15px 0 1px $lightColor, 0 22px 0 1px $lightColor ;
        }        
        
        
        @media (max-width: $small-breakpoint) {
            display: block;
        }
    }    
    

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: $lightColor;
        padding: 0 0.8rem;
        position: relative;
        
        &:hover {
            color: $lightColor;
            &:before {
                left: 0;
                right: 0;              
            }
        }
        
        &:before {
            background: transparentize($lightColor, .75);
            height: 2px;
            content: "";
            position: absolute;
            z-index: -1;
            left: 50%;
            right: 50%;
            bottom: 0;
            transition-property: left,right;
            transition-duration: .2s;
            transition-timing-function: ease-out;
        }
    }
    
    &.Scroll {
        border-bottom: 0;
    }

    ul {
        list-style: none;
        justify-content: center;
        display: flex;
        
        @media (max-width: $small-breakpoint) {
            display: none;
        }    
               
    }   
    

}
@media (max-width: $small-breakpoint) {
    .parallax-window, .parallax-mirror {
        min-height: 50px !important;
    }    

    .SiteHeader h1 {
        font-size: 1.5rem;
        top: 0;
    }

}

.HorizontaleMenu-Background {
    background-color: transparentize($darkColor, .4);
    z-index: 9;
}
	
.wrapper, .content, main {
    display: flex;
}

.wrapper, main {
    flex-direction: column;
}		

.content main {
    background-color: $backgroundColor;
}

main {
    padding-top: 50px;
    width: 100%;
}

article {
    padding: 40px;
    background-color: $lightColor;
    
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    position: relative;
    margin-bottom: 70px;
    font-family: $font-serif;
}
.TagsCloud {
    display: flex;
    flex-wrap: wrap;
    list-style: none;	
    
    a {
        color: $darkColor;
        padding: 0.4rem .8rem;	
        margin-left: 0.4rem;	
        border: 1px solid transparentize($textColor, .5);
        text-decoration: none;
        font-variant: small-caps;
        
        &:before {
            content: '#';
        }
        
        &:hover {
            color: $titleColor;
            border: 1px solid $textColor;
        }
    }
}

.Badge {
    &:before {
        content: ' - ';
    }
}

.HighlightLink {
    
    font-variant: small-caps;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 32px;
    transition: padding 0.2s ease-in-out;    
    
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 11px;
        width: 20px;
        height: 2px;
        transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
        background-color: $highlightColor;
    }
    
   
    &:hover {
        padding-left: 52px;
        &:before {
            width: 40px;
        }
    }
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.feed {
  margin-left: 3px;
  padding: 0 0 0 19px;
  background: url("../img/feed-icon-14x14.png") no-repeat 0 50%;
}