@import "fontface";

$font-serif: 'Cormorant Garamond', serif;
$font-sansSerif: 'Open Sans Condensed', sans-serif;
$font-cursive: 'Forum', cursive;

$backgroundColor: #f8fcf8; //#f5f5f5;
$textColor: #68875f; //#666;
$titleColor: #3d5337; //#333;
$highlightColor: #89bf8f; //#62a35d #57955b;
$darkColor: #001a00;
$lightColor: white;

.palette-container {
    display: flex;
}
.palette {
    width: 50px;
    height: 50px;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;    
}

body {
    font-size: 1.6rem;
}

html, body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;		
    font-family: $font-serif;
    color: $textColor;
}

h1 {
    font-size: 2.5rem;
    font-variant: small-caps;
    color: $titleColor;
    font-family: $font-sansSerif;
    margin: 2rem auto;
}

a {
   color: $titleColor; 
   text-decoration: none;
   &:hover {
       color: $highlightColor;
   }
}

ul {
    padding: 0;
}

.SiteHeader {
    position: relative;
    
    h1 {
        width: 100%;
        text-align: center;
        top: 40%;
        position: absolute;
        z-index: 15;
        font-family: $font-cursive;
        font-size: 6rem;
        color: $lightColor; 
    }
}

.SidebarModule .thumbnail {

    height: 150px;
    
    img {
        shape-outside: circle();
        float: left;
        border-radius: 50%;
        height: 150px;

        margin-right: 2rem;
    }
}


.HorizontaleMenu, .HorizontaleMenu-Background {
    width: 100%;
    position: fixed;	
    height: 50px
}

.HorizontaleMenu {
    z-index: 100;	
    border-bottom: 1px solid transparentize($lightColor, .75);
    
    a {
        text-decoration: none;
        text-transform: uppercase;
        color: $lightColor;
        padding: 0 0.8rem;
        position: relative;
        
        &:hover {
            color: $lightColor;
            &:before {
                left: 0;
                right: 0;              
            }
        }
        
        &:before {
            background: transparentize($lightColor, .75);
            height: 2px;
            content: "";
            position: absolute;
            z-index: -1;
            left: 50%;
            right: 50%;
            bottom: 0;
            transition-property: left,right;
            transition-duration: .2s;
            transition-timing-function: ease-out;
        }
    }
    
    &.Scroll {
        border-bottom: 0;
    }

    ul {
        list-style: none;
        justify-content: center;
        display: flex;
    }    
}

.HorizontaleMenu-Background {
    background-color: transparentize($darkColor, .4);
    z-index: 9;
}
	
.wrapper, .content, main {
    display: flex;
}

.wrapper, main {
    flex-direction: column;
}		

.content main {
    background-color: $backgroundColor;
}

main {
    padding-top: 50px;
    width: 100%;
}

article {
    padding: 40px;
    background-color: $lightColor;
    
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    position: relative;
    margin-bottom: 70px;
    font-family: $font-serif;
}

.BlogLayout {

    main {
        flex: 3;
    }    

    aside {
        flex: 1;
        padding: 50px 30px 95px;
    }
    
    article {
        background-color: initial;
        padding: initial;        
    }

    .image time {
       right: inherit;
       left: 40px;
   }
    
    time {
        z-index: 1;
        position: absolute;
        display: inline-block;
        background-color: $highlightColor;
        
        text-align: center;
        width: 50px;

        color: $darkColor;
        right: 80px;
        top: -2px;
        font-size: 2.4rem; 
        
        // mega ombre + bordure
        /*filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.4))
            drop-shadow(1px -1px 0px rgba(0, 0, 0, 0.4))
            drop-shadow(-1px -1px 0px rgba(0, 0, 0, 0.4))
            drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));*/
        filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.65));
        //clip: rect(-1px,75px,150px,-25px);
                              
        span {
            display: block;
            
            &:first-child {
                font-size: 3.2rem;
            }
        }
        
        &:after {
        
            content: "";
            position: absolute;
            display: block;
            /*z-index: -1;
            left: 0;
            bottom: -12px;
            width: 0;
            height: 0;*/
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-top: 8px solid $highlightColor; 
        }
    }    
    
    .Post {
        background: $lightColor;
        padding: 2rem;
        margin: auto 3rem;
 
        box-shadow: 0px 3px 15px 0px transparentize($darkColor, .85);
        
        h1 {
            margin-top: 0;
        }        
    }
    .PostInfo {
        justify-content: space-between;
        max-width: calc(100% - 100px);
        display: flex;
        align-items: center;     
    }

    
    .Post.Card {
        float: left;
        z-index: 5;
        position: absolute;
        top: 30px;
        right: 0;
        bottom: 30px;
        left: 55%;
        box-shadow: 0px 3px 15px 0px transparentize($darkColor, .85);
        
        .PostInfo {
            max-width: 100%;  
        } 
        
    }

    .AlignRight {
        .Card {
            float: right;
            left: 0;
            right: 55%;
        }  
        
        .cover {
            margin-left: auto;
        }
        
        .image {
            time {
                left: inherit;
                right: 40px;     
            }          
        }
    }

    ul.MenuList, .MenuList ul {
        list-style: none;	
        padding: 0;	
    }

    .MenuList a:before {
        content: '\f105';
        position: absolute;
        left: 0;
        top: 0;
        font-family: 'FontAwesome';			
    }

    .MenuList a {
        display: block;
        margin: 1rem 0;			
        padding: 0 0 0 15px;
        position: relative;
        margin-left: 0;
        transition: margin 0.2s ease-in-out;
    }

    .MenuList a:hover {
        margin-left: 10px;
    }

    main .cover {
        width: 960px;
        height: 540px;
        position: relative;
        overflow: hidden;        
        
        img {
            position: absolute;
            top: -100%;
            left: 0;
            right: 0;
            bottom: -100%;
            margin: auto;            
            width: 100%;
            height: auto;
            border: 1px solid $lightColor;
        }
    }

    ul.TagsCloud li {
        height: 4rem;
    }

}

$boxSize: 300px;
$boxMargin: 30px;
$boxBottomMargin: 55px;

.BoxContainer {
    margin: auto;
}

.Box {
    position: relative;
    overflow: hidden;
    background-color: white;
    width: $boxSize;
    height: $boxSize;
    padding: $boxMargin $boxMargin $boxBottomMargin;
       
    .Link {
        position: absolute;
        bottom: $boxMargin;
        left: $boxMargin;
    }    
    
    &:hover {
        background-color: $highlightColor; //$textColor;
        color: $lightColor;
        a, h1 {
            color: $lightColor;
        }
        
        .Box-Content {
            background-color: transparentize($highlightColor, .2);
        }  
    }
    
    h1 {
        margin: auto;        
    }
    
    img {
        position: absolute;
        top: -100%;
        left: -100%;
        right: -100%;
        bottom: -100%;
        margin: auto;
        width: 100%;      
    }
        
    .Box-Content {
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
        height: 100%;
        padding: $boxMargin;
        overflow: hidden;
        //max-height: $boxSize - $boxBottomMargin;
              
    }  
    

    
    &.Post {
        &.Long {
            height: $boxSize * 2;
            .Box-Content {
                //max-height: $boxSize * 2 - $boxBottomMargin;
                //overflow: auto;
            }
        }  
        
        &.Photo img {
            -webkit-filter: grayscale(90%) brightness(60%) contrast(105%) blur(4px); 
        }  
    }
    
    &.Landscape img {
        width: auto; 
        height: 100%;
    }
    
    &.Photo {
        
        img {
            -webkit-filter: grayscale(90%) brightness(60%) contrast(105%);     
        }
        
        &:hover img {
            -webkit-filter: grayscale(0);       
        }
        
        &.Post {
            padding: 0;
            &.Long {
                height: $boxSize; 
                width: $boxSize * 2;
                .Box-Content {
                    //max-height: $boxSize - $boxBottomMargin;
                }                
            }  

            color: $lightColor; 
            a, h1 {
                color: $lightColor;
            }               
        }
        
        & a h1 {
            width: 50%;
            background-color: rgba(255,255,255,0.6);
            font-size: 3rem;
            margin: auto;
            right: 0;
            text-align: center;
            z-index: 2;
            position: absolute;
            top: $boxSize/2 - 15px;
            top: calc(50% - 3rem + 15px);
            left: 0;          

        }
        &:hover a h1 {
            background-color: rgba(0,0,0,0.6);  
        }
    }
    
    &.Tweet {
        word-break: break-word;
        vertical-align: middle;
        font-size: 2.5rem;  
        & > * {
            margin: auto 0;
        }
        & > *:first-child:before, & > *:first-child:after {
            content: '"';
        }
    }
}

.TagsCloud {
    display: flex;
    flex-wrap: wrap;
    list-style: none;	
    
    a {
        color: $darkColor;
        padding: 0.4rem .8rem;	
        margin-left: 0.4rem;	
        border: 1px solid transparentize($textColor, .5);
        text-decoration: none;
        font-variant: small-caps;
        
        &:before {
            content: '#';
        }
        
        &:hover {
            color: $titleColor;
            border: 1px solid $textColor;
        }
    }
}

.Badge {
    &:before {
        content: ' - ';
    }
}

.HighlightLink {
    
    font-variant: small-caps;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 32px;
    transition: padding 0.2s ease-in-out;    
    
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 11px;
        width: 20px;
        height: 2px;
        transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
        background-color: $highlightColor;
    }
    
   
    &:hover {
        padding-left: 52px;
        &:before {
            width: 40px;
        }
    }
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}



//time,
/*.tags,*/

[itemprop='author'] {
    display: none;
}

@media (max-width: 1666px) {
     
    .BlogLayout {
               
        .Card {
            top: 60px;
            bottom: 0;
            left: 35%;
        }

        .AlignRight .Card {
            right: 35%;
        }	
    }
}

/*@media (max-width: 1200px) {
    
    .SiteHeader h1 {
        font-size: 4rem;
    }    

    .BlogLayout {
        


        .Card {
            position: initial !important;
        }
    }
}*/

@media (max-width: 600px) {

    .parallax-window {
        min-height: 100px;
    }    
    
    .SiteHeader h1 {
        font-size: 2rem;
    }
    
    h1 {
        font-size: 2rem;
    } 
    
    .HorizontaleMenu ul {
        flex-wrap: wrap;
    }
    
    .BlogLayout {
        
        article {
            margin-bottom: 10px;
        }
        
        .Post {
            margin: auto 10px;
            padding: 15px;
            box-shadow: none;
            border: 1px solid transparentize($darkColor, .85);
        }        
        
        .SingleArticle .cover {
            margin: auto;
            width: 100%;
            height: auto;
        }
        
        main article:not(.SingleArticle) .cover {
            display: none;
        }
        
        &.content {
            flex-direction: column;
        }
        
        .Card {
            float: none !important;
            position: initial !important;
        }
    }
}

.feed {
  margin-left: 3px;
  padding: 0 0 0 19px;
  background: url("../img/feed-icon-14x14.png") no-repeat 0 50%;
}